services:
  postgres:
    image: postgres:16
    container_name: chat-postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: chat
      POSTGRES_USER: chat_admin
      POSTGRES_PASSWORD: chat_admin
    ports:
      - "5432:5432"
    volumes:
      - ./db/init:/docker-entrypoint-initdb.d
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U chat_admin -d chat -q"]
      interval: 5s
      timeout: 10s
      retries: 30

  liquibase:
    image: liquibase/liquibase
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - ./db/migrations:/liquibase/changelog
      - ./lib:/liquibase/lib
    environment:
      LIQUIBASE_COMMAND_URL: jdbc:postgresql://postgres:5432/chat
      LIQUIBASE_COMMAND_USERNAME: chat_admin
      LIQUIBASE_COMMAND_PASSWORD: chat_admin
      LIQUIBASE_COMMAND_CHANGELOG_FILE: changelog.yaml
    command: sh -c "sleep 10 && liquibase update"


  keycloak:
    image: quay.io/keycloak/keycloak:24.0.1
    container_name: chat-keycloak
    command: start-dev
    environment:
      KC_DB: postgres
      KC_DB_URL_HOST: postgres
      KC_DB_URL_DATABASE: chat
      KC_DB_URL_PORT: 5432
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: keycloak
      KC_DB_SCHEMA: keycloak
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_HOSTNAME_URL: http://localhost:8081
      KC_HOSTNAME_STRICT: false
      KC_IMPORT: true
      KC_IMPORT_REALM: chat
    ports:
      - "8081:8080"
    depends_on:
      postgres:
        condition: service_started
      liquibase:
        condition: service_started
    volumes:
      - keycloak_data:/opt/keycloak/data
      - ./keycloak:/opt/keycloak/data

volumes:
  postgres_data:
  keycloak_data:
