services:
  postgres:
    image: postgres:16
    container_name: chat-postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: "${DB_NAME}"
      POSTGRES_USER: "${DB_USER}"
      POSTGRES_PASSWORD: "${DB_PASSWORD}"
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - ./db/init:/docker-entrypoint-initdb.d
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME} -q"]
      interval: 5s
      timeout: 10s
      retries: 30

  liquibase:
    image: liquibase/liquibase
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      LIQUIBASE_COMMAND_URL: "jdbc:postgresql://postgres:${DB_PORT}/${DB_NAME}"
      LIQUIBASE_COMMAND_USERNAME: "${DB_USER}"
      LIQUIBASE_COMMAND_PASSWORD: "${DB_PASSWORD}"
      LIQUIBASE_COMMAND_CHANGELOG_FILE: changelog.yaml
    volumes:
      # Mount the changelog file explicitly and changeset folder
      - ./db/migrations/changelog.yaml:/liquibase/changelog/changelog.yaml:ro
      - ./db/migrations/changeset:/liquibase/changelog/changeset:ro
      - ./lib:/liquibase/lib
    command: liquibase update

  keycloak:
    image: quay.io/keycloak/keycloak:24.0.1
    container_name: chat-keycloak
    command:
      - start-dev
      - --import-realm
    environment:
      KC_DB: "${KC_DB}"
      KC_DB_URL_HOST: "${KC_DB_URL_HOST}"
      KC_DB_URL_DATABASE: "${KC_DB_URL_DATABASE}"
      KC_DB_URL_PORT: "${KC_DB_PORT}"
      KC_DB_USERNAME: "${KC_DB_USERNAME}"
      KC_DB_PASSWORD: "${KC_DB_PASSWORD}"
      KC_DB_SCHEMA: "${KC_DB_SCHEMA}"
      KEYCLOAK_ADMIN: "${KEYCLOAK_ADMIN}"
      KEYCLOAK_ADMIN_PASSWORD: "${KEYCLOAK_ADMIN_PASSWORD}"
      KC_HOSTNAME_URL: ${KC_HOSTNAME_URL}
      KC_HOSTNAME_STRICT: false
      KC_IMPORT: true
      KC_IMPORT_REALM: ${KC_IMPORT_REALM}
    ports:
      - "8081:8080"
    depends_on:
      postgres:
        condition: service_started
      liquibase:
        condition: service_started
    volumes:
      - keycloak_data:/opt/keycloak/data
      - ./keycloak:/opt/keycloak/data/import

volumes:
  postgres_data:
  keycloak_data:
